<footer class="rubic-footer">
  <!--<app-rubic-volume *noFrame></app-rubic-volume>-->
  <div class="additional-content">
    <a href="https://www.fetech.org/">Website</a>
    <a href="https://www.dextools.io/app/en/ether/pair-explorer/0x5a424aba0e5400d90eb88abaa790fefed54c62c7">How to Buy</a>
    <a href="https://www.dextools.io/app/en/ether/pair-explorer/0x5a424aba0e5400d90eb88abaa790fefed54c62c7">Chart</a>
  </div>
  <nav class="rubic-footer__nav">
    <a
      *ngFor="let link of footerLinks"
      class="rubic-footer__link"
      [href]="link.link"
      rel="noopener"
      target="_blank"
    >
      <img [src]="link[theme$ | async]" width="22" height="20" [alt]="link.altText" />
    </a>
  </nav>
  <div class="rubic-footer__copyright">
    © Copyright FETS {{ year }}
  </div>
</footer>
