@use 'src/scss/core' as *;


@include b($mobile-md) {
  .additional-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    color: #fff;
    font-weight: 800;
    font-size: 16px;

    a {
      padding: 0 5px;

      color: white;
      text-decoration: none;

      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


.additional-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;

  color: #fff;
  font-weight: 800;
  font-size: 16px;

  a {
    padding: 0 5px;

    color: white;
    text-decoration: none;

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.rubic-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: px;
  padding: 30 30px;

  font-weight: 300;

  background-color: black;

  @include hide-unused-ui {
    display: none;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include b($mobile-sm-plus) {
      max-width: 320px;
    }
  }

  &__link {
    margin-right: 21px;
    margin-bottom: 16px;

    transition: 0.1s ease-in-out;

    img {
      display: block;
      width: 22px;
      height: 22px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__copyright {
    font-size: $rubic-font-size-01;
    text-align: center;
  }

  &__policy {
    color: var(--primary-color);
    white-space: nowrap;
  }
}
